#### src ###

# dependencies
src/node_modules
src/.pnp
src/.pnp.*
src/.yarn/*
!src/.yarn/patches
!src/.yarn/plugins
!src/.yarn/releases
!src/.yarn/versions

# testing
src/coverage

# next.js
src/.next/
src/out/

# production
src/build

# misc
src/.DS_Store
src/*.pem

# debug
src/npm-debug.log*
src/yarn-debug.log*
src/yarn-error.log*

# local env files
src/.env*.local
src/.env

# vercel
src/.vercel

# typescript
src/*.tsbuildinfo
src/next-env.d.ts

# cursor 
.cursor 
